
/* Container */
.container{
    width:40%;
    margin:10% auto;
}

/* Body Image */
body {
    background-image: url('coding.jpg');
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Login */
#div_login{
    border: 1px solid gray;
    border-radius: 3px;
    width: 370px;
    height: auto;
    box-shadow: 0px 2px 2px 0px  gray;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.658);
}

#div_login h1{
    margin-top: 0px;
    font-weight: normal;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#div_login div{
    clear: both;
    margin-top: 10px;
    padding: 5px;
}

#div_login .textbox{
    width: 100%;
    padding: 7px;
}

#div_login input[type=submit]{
    padding: 7px;
    width: 100%;
    background-color: rgb(0, 145, 24);
    border: 0px;
    color: white;
    margin-top: 20px;
}
.label {
    font-size: 20px;
    margin-left: 3px;
}
/* media */
@media screen and (max-width:720px){
    .container{
        width: 100%;
    }
    #div_login{
        width: 99%;
    }
}
